<!DOCTYPE html>
<html>
<head>
    <title>Profile Form</title>
    <link rel="stylesheet" th:href="@{/css/shoppingBasket.css}"/>
</head>
<body>
<h1>Mijn Winkelmandje</h1>

<table class="databaseProductList">
    <tr>
        <th>Aantal</th>
        <th>Product</th>
        <th>Prijs p.st.</th>
        <th>Totaal per product</th>
    </tr>
    </br>
 </br>
    <tr th:each="orderLine: ${orderLineList}">
        <td th:text="${orderLine.numberOfProducts}"></td>
        <td th:text="${orderLine.product.name}"></td>
        <td>€ <span th:text="${#numbers.formatDecimal(orderLine.product.price, 0, 'COMMA', 2, 'POINT')}">10.00</span></td>
        <td>€ <span th:text="${#numbers.formatDecimal(orderLine.numberOfProducts * orderLine.product.price, 0, 'COMMA', 2, 'POINT')}">10.00</span></td>
        
    </tr>
</table>
<table class="databaseProductList">
    <tr>
        <th>Totale prijs van de bestelling</th>
    </tr>
    </br>
    <td>€ <span th:text="${totalPrice}"></span></td>
</table>

</br><br></br><br>

<form method="GET" th:action="@{/orderLine/showNewOrderLineForOrderLineList}"></a>

    <input class="button" type="submit" value="Bestel nog een product"/>

</form>
</br>
<form method="GET" th:action="@{/order/currentOrder}"></a>

    <input class="button" type="submit" value="Plaats bestelling"/>
</form>
</body>
</html>
